.root{
    -fx-background-color: #f2f2f2;
}

.defaultButton{
    -fx-background-color: #FF3B30;
    -fx-background-radius: 20;

    -fx-text-fill: #F5F5F5;

    -fx-font-weight: Bold;

    -fx-pref-width: 200;
}

.underTabButton{
    -fx-background-color: #FF745B;
    -fx-background-radius: 20;

    -fx-text-fill: #F5F5F5;

    -fx-font-weight: Bold;

    -fx-pref-width: 200;
}

.TabButton{
    -fx-background-color: #FF3B30;
    -fx-background-radius: 20;

    -fx-text-fill: #F5F5F5;

    -fx-font-weight: Bold;

    -fx-pref-width: 100;
}

.defaultTextField{
    -fx-background-color: #FF745B;
    -fx-background-radius: 5;
    -fx-border-width: 2;
    -fx-border-color: #FF3B30;
    -fx-border-radius: 5;

    -fx-pref-width: 200;
    -fx-max-width: 200;

    -fx-text-fill: #F5F5F5;

    -fx-prompt-text-fill: #FAD1C9;

    -fx-font-weight: Bold;
}

.defaultTextLink{
    -fx-text-fill: #916E00;
}

.defaultList{
    -fx-border-width: 4;
    -fx-border-color: #FF3B30;
    -fx-border-radius: 4;

    -fx-background-radius: 8;

    -fx-pref-width: 600;
    -fx-max-width: 600;
}
.defaultList .list-cell{
    -fx-background-color: #FF745B;
    -fx-alignment: center;
}

.defaultText{
    -fx-text-fill: #F5F5F5;

    -fx-font-weight: Bold;
}

.bold{
    -fx-font-weight: Bold;
}

.defaultLightElement{
    -fx-background-color: #FF745B;
    -fx-background-radius: 5;
}
.defaultList .list-cell:selected{
    -fx-background-color: #FF3B30;
}
.defaultList .scroll-bar:vertical {
    -fx-background-color: #FF3B30;
}

.defaultElement{
    -fx-background-color: #FF3B30;
    -fx-background-radius: 5;

    -fx-pref-width: 300;
    -fx-max-width: 300;
}

.defaultItem{
    -fx-background-color: #FF745B;
    -fx-background-radius: 5;

    -fx-pref-width: 400;
    -fx-max-width: 400;
}
.MessageItem{
    -fx-background-color: #FF745B;
    -fx-background-radius: 40;

    -fx-pref-width: 400;
    -fx-max-width: 400;
    -fx-alignment: center-right;
}


.defaultTextTitle{
    -fx-text-fill: #F5F5F5;
    -fx-font-size: 20;
    -fx-font-weight: Bold;
    -fx-padding: 5;
}

.defaultTextAutor{
    -fx-text-fill: #F5F5F5;
    -fx-font-size: 10;
    -fx-font-weight: Bold;
    -fx-alignment: center-right;
    -fx-padding: 5;
}

.defaultTextTime{
    -fx-text-fill: #F5F5F5;
    -fx-font-size: 8;
    -fx-font-weight: Bold;
    -fx-alignment: center-right;
    -fx-padding: 5;
}

.defaultTextMessage{
    -fx-text-fill: #F5F5F5;
    -fx-font-size: 15;
    -fx-font-weight: Bold;
    -fx-alignment: center-right;
}

.defaultOnlyBorder{
    -fx-border-color: #FF3B30;
    -fx-border-width: 4;
    -fx-border-radius: 4;
}

.chatList{
    -fx-border-width: 4;
    -fx-border-color: #FF3B30;
    -fx-border-radius: 4;

    -fx-background-radius: 8;

    -fx-pref-width: 600;
    -fx-max-width: 600;
}
.chatList .list-cell{
    -fx-alignment: center-right;
}
.defaultList .scroll-bar:vertical {
    -fx-background-color: #FF3B30;
}